@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}

button {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
    background-color: green;
}

.container {
    display: flex;
    justify-content: center;
}

.left_body {
    width: 40%;
    min-height: 100vh;
    background-color: aqua;
    background-image: url("tuaans-BrTOlwdX4kA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.left_body_text {
    height: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    background-color: black;
    opacity: 80%;
}

.left_body_text p {
    color: #fff;
    font-size: 50px;
    /* opacity: 100%; */
}

.right_body {
    width: 60%;
    min-height: 100vh;
}

.right_body_el {
    padding-left: 5rem;
    padding-right: 5rem;
}

header {
    /* background-image: url("ngLLDp.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #567c4f;
    padding-top: 9rem;
    padding-bottom: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #ce1d4c;
}

h2 {
    padding: 20px 0px;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 25px;
}

.main_content div {
    display: flex;
    flex-direction: column;
    flex: 1 1 340px;
}

.main_content div input {
    width: 100%;
    max-width: 250px;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #fac57d;
}

footer p {
    padding-top: 2rem;
    font-weight: 600;
}



.handler {
    display: block;
    /* min-height: 100vh; */
}

.handler_2 {
    display: none;
}

.handler_2_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10rem 10rem;

    font-size: 4rem;
}