* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.left_body {
    width: 40%;
    min-height: 100vh;
    background-color: aqua;
    background-image: url("/tuaans-BrTOlwdX4kA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.right_body {
    width: 60%;
    min-height: 100vh;
}

.right_body_el{
    padding: 3rem 5rem;
}

header {
    /* background-image: url("ngLLDp.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: azure;
    padding: 7rem 0rem;

}

main {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    padding: 2rem 0rem;
}

h2 {
    padding: 20px 0px;
    /* margin: 20px 0px; */
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 25px;
}

.main_content div {
    display: flex;
    flex-direction: column;
    flex: 1 1 350px;
}

.main_content div input {
    width: 100%;
    max-width: 250px;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

footer {
    padding: 3rem 0rem;
}