* {
    margin: 0;
    padding: 0;
}

button{
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
    background-color: green;
}

.container {
    display: flex;
    justify-content: center;
}

.left_body {
    width: 40%;
    min-height: 100vh;
    background-color: aqua;
    background-image: url("/tuaans-BrTOlwdX4kA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.right_body {
    width: 60%;
    min-height: 100vh;
}

.right_body_el{
    padding-left: 5rem;
    padding-right: 5rem;
}

header {
    /* background-image: url("ngLLDp.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: azure;
    padding-top: 9rem;
    padding-bottom: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

h2 {
    padding: 20px 0px;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 25px;
}

.main_content div {
    display: flex;
    flex-direction: column;
    flex: 1 1 350px;
}

.main_content div input {
    width: 100%;
    max-width: 250px;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer p{
    padding-top: 2rem;
    font-weight: 600;
}